<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<ClientID></ClientID>
	<ClientSecret></ClientSecret>
	<!-- Slack authorization token for the bot.
	Can be found under OAuth & Permissions section of api.slack.com once bot has been added to your workspace-->
	<AuthToken></AuthToken>
	<!-- Slack Channel to broadcast out of office notification to-->
	<BroadcastChannel></BroadcastChannel>
	<!-- List of times to broadcast in comma seperated list. Accepts 12 or 24 hour time (e.g. 3:30AM, 1PM, 14:00 -->
	<BroadcastTimes></BroadcastTimes>
	<!-- List of Days to broadcast, in comma seperated list (e.g. Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday)-->
	<BroadcastDays></BroadcastDays>
</configuration>

